<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Personale/TestAutomation/Internet_herokuapp">
        <classes>
            <class name="checkbox.CheckBoxTests">
                <methods>
                    <include name="testCheckBoxes"/>
                </methods>
            </class>
            <class name="tests.Tests">
                <methods>
                    <include name="validrateImages"/>
                    <include name="testInvalidUsername"/>
                    <include name="testInvalidPassword"/>
                    <include name="testSuccessfullyLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>