<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Personale/TestAutomation/Internet_herokuapp">
        <classes>
            <class name="tests.Tests">
                <methods>
                    <include name="validrateImages"/>
                    <include name="testCheckCheckboxes"/>
                    <include name="testUncheckCheckboxes"/>
                    <include name="UnsuccessfulLogin"/>
                    <include name="SuccessfulLogin"/>
                    <include name="testAlerts"/>
                    <include name="testiFrame"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>